@use "variables" as var;
body {
  margin: 0;
  height: 100vh;
}
.myheader {
  background-color: var.$primary;
  height: 20vh;
}
.left-side {
  background-color: var.$secondary;
}
.right-side {
  background-color: var.$secondary;
}

.f-content {
  background-color: var.$primary;
}

.carousel-item {
}
ul {
  list-style: none;
  color: var.$secondary;
  i {
    padding-right: 2%;
  }
}
